<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        <p ng-bind="firstName"></p>
        <p>{{firstName}}</p>
    </div>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function($scope){
            $scope.firstName = "Dy"
        });
    </script> -->

    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        Name: <input type="text" ng-model="firstName + lastName" >
        <h1 ng-bind="firstName"></h1>
        <h1>{{lastName}}</h1>
    </div>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function($scope){
            $scope.firstName = "Pham";
            $scope.lastName = "Dy";
        });
    </script> -->

    <div ng-app="myApp" ng-controller="myCtrl">
        <h1 ng-click="changeName()">{{name}}</h1>
    </div>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function($scope){
            $scope.name = "Dy";
            $scope.changeName = function() {
                $scope.name = "Hai";
            }
        });
    </script>
</body>
</html>